/**
 * Ne pas modifier
 * Fichier gere par Ansible
 * Deploye le {{ ansible_date_time.date }}
 */

/**
 * The db_ido_pgsql library implements IDO functionality
 * for PostgreSQL.
 */

library "db_ido_pgsql"

object IdoPgsqlConnection "ido-pgsql" {
  user = "{{ icinga2_bdd_util }}",
  password = "{{ icinga2_mdp_bdd }}",
  host = "{{ icinga2_serveur_bdd }}",
  database = "{{ icinga2_nom_bdd }}"
}
