[icinga]
type                = "ido"
resource            = "icinga_ido"
disabled            = "0"


[icinga_livestatus]
disabled            = "0"
type                = "livestatus"
resource            = "res_livestatus"