[Monitoring Screen]
users = "moniteur"
groups = "etai-dsi-production"
type = "menu-item"
target = "_blank"
url = "monitoring/list/services?service_problem=1&service_state%3C4&service_state%3E0&service_acknowledged=0&sort=service_severity&dir=desc"
owner = "admin"
