[admins]
users = "admin"
permissions = "*"
groups = "etai-dsi-production"

[administrators]
users = "admin"
permissions = "*"

[read-only]
groups = "etai-dsi-cdi-ra,read-only"
permissions = "module/monitoring"